datetime~=5.0
pytz~=2022.7.1
openai~=0.26.5
numpy
nltk~=3.8.1
uvicorn~=0.20.0
fastapi==0.92.0
keras==2.11.0
requests~=2.28.2
tensorflow~=2.11.0
scikit-learn==1.2.1
pypdf2~=3.0.1
docx~=0.2.4
transformers~=4.26.1